
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';

@import '../../node_modules/animate\.css/animate.min.css';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}


.player, .enemy
   {

  //line-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 400px;

}

.enemy{
   .healthBar {
      margin-right: 0 !important;
      margin-left: auto;
      text-align: left;
   }
}

.button-styles{

  display: flex;

  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100px;

  margin-top: 20px;
  padding-left: 20px;


}

.myProgress {
  position: relative;
  width: 550px;
  height: 30px;
  background-color: white;
  opacity: .4;

}

.healthBar {
  font-size: 24px;
  width: 100%;
  height: 29px;
  line-height:29px;
  background-color: #88BCE3;
  transition: all 1s linear;
  margin-right: auto;
  margin-top: 24px;
  text-shadow: none;
   text-align: right;
}


.shake {
  -vendor-animation-duration: 6s;
  -vendor-animation-delay: 2s;
  -vendor-animation-iteration-count: infinite;
}



.overlay{
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   display: block;
   &.hide{
      display: none;
   }
   background-color:white;
   z-index: 4;
}


.select-panel, .enemy-select{

   height: 100%;
   transition: height 2s;
   &.half{height: 50%;}

   width: 100%;
   display: flex;

   &.hide{
      display: none;
   }

   flex-flow: row wrap;
   justify-content: center;
   align-items: center;
   align-content: center;



   svg{
      width: 80px;
      margin: 24px;
      cursor: pointer;
   }

}
