<!-- {{#each good}} -->
<!-- <div class="col-md-6 player"> -->
   <div class="">{{image}}</div>
   <div class="healthBar"><div class="myProgress"></div></div>
<!-- </div> -->
<div class="button-styles row">
  <button type="button" class="btn btn-primary">Attack!</button>
</div>
<!-- {{/each}} -->


<!-- {{#each bad}} -->
   <div class="">{{image}}</div>
   <div class="healthBar"><div class="myProgress"></div></div>
<!-- {{/each}} -->
